server:
  port: 8082
  servlet:
    context-path: /api/docker

spring:
  application:
    name: codebridge-docker-service
  profiles:
    active: dev

docker:
  api:
    host: unix:///var/run/docker.sock
    connect-timeout: 5000
    read-timeout: 30000
    write-timeout: 10000
  auth:
    token-expiration: 86400000

logging:
  level:
    root: INFO
    com.codebridge: DEBUG
    org.springframework.web: INFO

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha
    disable-swagger-default-url: true
  packages-to-scan: com.codebridge.docker.controller

