server:
  port: 8081
  servlet:
    context-path: /api/gitlab

spring:
  application:
    name: codebridge-gitlab-service
  profiles:
    active: dev

gitlab:
  api:
    base-url: https://gitlab.com/api/v4
    connect-timeout: 5000
    read-timeout: 30000
    write-timeout: 10000
  auth:
    token-expiration: 86400000

logging:
  level:
    root: INFO
    com.codebridge: DEBUG
    org.springframework.web: INFO

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha
    disable-swagger-default-url: true
  packages-to-scan: com.codebridge.gitlab.controller

